.input {
  color: #ae00ff;
  margin-bottom: 30px;
  font-size: x-large;
  background-color: #212121;
  max-width: 200px;
  width: 300px;
  height: 25px;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(0, 255, 255);
  border-radius: 20px;
}

.input:hover {
  font-size: xx-large;
  box-shadow: 3px 3px 2px rgb(255, 0, 0);
}

.input:focus {
  font-size: xx-large;
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

.box {
  height: 600px;
  width: 500px;
  background-color: #303030;
  border-radius: 50px;
  box-shadow: -10px 10px 20px 1px rgb(0, 0, 0);

}

.text {
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(0, 255, 255);
}

.footer-text {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
  color: blue;
}

.footer-text-2 {
  font-size: 13px;
}